form{
    font-size: 20px;
}
#complete{
    padding: 10px;
    font-size: 14px;
    color: white;
    border: 1px solid white;
}
input, textarea{
    background-color: transparent;
    font-size: 24px;
    color: white;
    
}
.form-control:focus, .form-control:active{
    background: transparent;
    font-size: 24px;
    color: white;
}